@use "../abstracts/index" as *;

header {
  @include flex-center;
  flex-direction: column;

  ul {
    display: flex;
    flex-flow: row wrap;
    gap: 12px;
    justify-content: center;
  }
  a {
    color: $text-color;
  }
}
